header {
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: #e2dbd3;
}

header .navbar {
    background-color: #e2dbd3;
    text-align: center;
}

header .navbar .nav-link {
    padding: 1rem !important;
    outline: none !important;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 0.3rem;
}

.navbar-brand {
    padding: 2%;
}

.nav-item a {
    font-weight: 700!important;
    color: white !important;
}

.nav-item a:hover {
    color: #908786 !important;
    text-decoration: none;
}
