<footer id="contact" class="bg-light" style="text-align: justify;">
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>
              <strong>maram.hmaidan@gmail.com</strong>
            </p>
            <section class="mb-4">
              <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/urbaniada.ro/photos/a.120722770230243/383480343954483/" target="_blank" role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>
        
              <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/maram.hmmm/" target="_blank" role="button"
                ><i class="fab fa-instagram"></i
              ></a>
            </section>
          </div>
          <div class="col-lg-6">
            <p>
              ©2022 All rights reserved.
            </p>
            <p>
              Developed with &#9829; by Stefania Man.
            </p>
          </div>
        </div>
      </div>
    </div>
</footer>
