<footer id="contact" class="bg-light" style="text-align: justify;">
    <div class="footer" style="background-color: #E2DBD3; color: white;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>
              <strong>maram.hmaidan@gmail.com</strong>
            </p>
            <section class="mb-4">
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/maram.hmaidan" target="_blank" role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>
        
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/maram-hmaidan-7906701b5/" target="_blank" role="button"
                ><i class="fab fa-linkedin"></i
              ></a>
            </section>
          </div>
          <div class="col-lg-6">
            <p>
              ©2022 All rights reserved.
            </p>
            <p>
              Developed with &#9829; by Stefania Man.
            </p>
          </div>
        </div>
      </div>
    </div>
</footer>
