<!-- HEADER -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
</header>

<!-- POEM MAIN SECTION -->
<div class="section poem-section">
    <div class="container poem-container">
      <img id="poem-img" src="assets/inima.png" class="img-fluid" alt="inima">
      <br><br>
      <!-- Poem text -->
      <p id="poem-text" class="h3" style='font-family: "Comfortaa";'>
          când ajungi acasă, descui ușa și dai buzna în
          <br>
          mine între coastele mele
          <br>
          te-apuci să te speli pe mâini
          <br>
          îmi mănânci din plămâni

          <br><br>

          te întinzi pe canapea
          <br>
          și dai mai tare muzica
          <br>
          rimtică din mine
      </p>
    </div>
</div>