<div>
  <!-- HEADER -->
  <app-header></app-header>

  <!-- POEM MAIN SECTION -->
  <div class="poem-section">
    <div class="container ">
        <!-- Poem image -->
        <div><img class="poem-image" src="assets/{{ poemImage }}" /></div>
        
        <!-- Poem title -->
        <div class="typing-wrapper">
          <span class="h1 poem-title typing">{{ poemTitle }}</span>
        </div>
        
        <!-- Poem text -->
        <div class="poem-text">{{ poemText }}</div>
    </div>
  </div>
</div>

<!-- ABOUT SECTION -->
<app-about></app-about>

<!-- MAP SECTION -->
<app-map></app-map>

<!-- FOOTER -->
<app-footer></app-footer>