
/* Small devices (mobile landscape and portrait) */
@media screen and (max-width: 764px) { 
    .poem-section {
        padding: 0 24px;;
    }
 }

/* Medium devices (tablets and small desktops) */
@media screen and (min-width: 764px) and (max-width: 1200px) { 
    .poem-section {
        padding: 0 30px;
    }
 }

/* Large devices (desktops) */
@media screen and (min-width: 1200px) { 
    .poem-section {
        padding: 0 auto;
    }
}

.poem-section {
    width: 100%;
    height: 70vh;  
    background-color: #F2EFEB;
}

.poem-section .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.poem-text {
    white-space: pre-wrap;
}

.poem-image {
    height: 25vh;
}

.poem-image, .poem-title, .poem-text {
    margin-bottom: 60px;
}

.card {
    text-align: justify;
}
  
.card-link {
    color: #ABC8AA;
}

.divider {
    width: 50px;
    height: 5px;
    background-color: #ABC8AA;
    border-radius: 2px;
    margin-bottom: 5%;
}

.about-container {
    background-repeat: no-repeat;
    background-size:cover;
}

#gmap_canvas {
    width: 100%;
    height: 80vh;
}
