<div id="map" class="container">
    <p class="h5 text-uppercase">Harta</p>
    <div class="divider"></div>
    <p>
        Diverse locații din centrul orașului ascund câte un cod QR asemănător, care te duce către alte poeme.
    </p>
    <p>
        Harta îți arată unde le poți întâlni.
    </p>
    <div id="gmap-wrapper">
        <iframe 
            id="gmap-frame"
            src="https://www.google.com/maps/d/u/0/embed?mid=12KK9j1nLbzXRqfn01V-zCYvx9FwYSCH6&z=15" 
            frameborder="0"
            scrolling="yes" 
            marginheight="10" 
            marginwidth="10">
        </iframe>
    </div>
</div>