/* You can add global styles to this file, and also import other style files */
html, body {
    overflow-x: hidden;
    font-family: "Comfortaa", "Raleway", sans-serif;
    font-weight: 400;
}

.h5 {
    font-weight: bolder !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-italic {
    font-style: italic !important;
}

.text-white {
    color: #fff !important;
}

.text-black {
    color: #000 !important;
}

.text-primary {
    color: #20c997 !important;
}

.btn-outline-black {
    border: 2px solid #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px;
    padding: 10px 20px;
    color: #000;
}

.btn-outline-black:hover {
    color: #fff;
    background: #000;
    border-color: #000;
}

.btn-outline-dark {
  border: 1px solid #525559;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
  color: #525559;
}

.btn-outline-dark:hover {
  color: #EEEFF1;
  background: #525559;
  border-color: #525559;
}

.btn-outline-light:hover,
.btn-outline-light:focus {
    color: #B7A9A6;
    background: white;
    border-color: white;
}


.btn.btn-outline-white {
    border: 2px solid white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px;
    padding: 10px 20px;
    color: white;
}

.btn.btn-outline-white:hover {
    color: black;
    background: white;
    border-color: white;
}

.divider {
    width: 50px;
    height: 5px;
    background-color: #ABC8AA;
    border-radius: 2px;
    margin-bottom: 5%;
}

/******* Animations ********/

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #ABC8AA; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line is set to nowrap */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ABC8AA; }
  }

/* The rotation effect. */
.rotate {
    animation: rotation 8s infinite linear;
}
  
@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}

@keyframes vibrate {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
}

.marquee-wrapper {
    max-width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 25s linear infinite;
  }
  
  .marquee p {
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

  .typing-wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing {
    width: 100%;
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ABC8AA;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* Small devices (mobile landscape and portrait) */
@media screen and (max-width: 764px) { 
    .typing {
        overflow: scroll;
    }
 }
