<app-header></app-header>

<div class="main-content">
  <div class="logo-wrapper">
    <img class="logo-image rotate" src="assets/logo.png"/>
  </div>
</div>

<div id="poems" style="padding: 100px 10px;">
  <div class="container">
    <p class="h5 text-uppercase">Poezii</p>
    <div class="divider"></div>
    <div class="poem-items marquee">
        <a *ngFor="let poem of poems;" routerLink="{{poem.route}}">
          <span class="poem-title">{{ poem.title }}</span>
          <span class="poem-sep">&#x2022;</span>
        </a>
    </div>
  </div>
</div>

<app-about></app-about>
<app-map></app-map>
<app-footer></app-footer>