<app-header></app-header>
<div class="container-fluid main-content">
    <div class="poems-list">
        <div class="container">
            <ul class="list-unstyled">
                <li *ngFor="let poem of poems;" >
                    <a routerLink="poems/{{poem.route}}" class="list-group-item list-group-item-action">{{ poem.title }}</a>
                    <span class="poem-sep">&#x2022;</span>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe id="gmap_canvas"
                    src="https://www.google.com/maps/d/u/0/embed?mid=12KK9j1nLbzXRqfn01V-zCYvx9FwYSCH6&z=15" frameborder="0"
                    scrolling="yes" marginheight="10" marginwidth="10"></iframe>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>